.container {
    display:grid; grid-template-columns: 12, 1fr; grid-auto-rows: minmax(1fr,auto);
}

/* SELECTEURS GENERALS */
* {
    margin: 0; padding: 0; background: rgb(32, 25, 25); 
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}
h1 {
    font-family: serif; 
    font-size: 25px;
    color:pink;
}
.special {
    font-family: fantasy;
    color: peachpuff;
}
.wrapper {
    margin: auto;
    width: 1000px;
    padding:10px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none; 
    color: white; 
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    text-align: left; color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

/* HEADER */

header h1{
    float: left; 
    margin-top: 20px;
}
header nav {
    float: right;
}
header nav ul li {
    display:inline-block; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px; 
    margin-right: 20px;
    float: left;
}

/* MAIN */
#main-image {
    height: 580;
    background: url("images/22.jpg") center;
}
.mainimage {
    height: 900px; disposition: center;
}
#main h2 {
    text-align: center; 
    color: white; 
    font-weight: normal;
    padding: 150px 0px 40px 6px;
}
.button {
    display: block;
    width: 100px;
    height: 50px;
    background: peachpuff;
    color: brown;
    text-align: center;
    margin: 0 auto;
    font-size:15px;
    line-height: 45px;
}

/* STEPS */
.steps ul li {
    width: 180px; 
    float: left;
    font-size: 1rem; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}


/* FOOTER */
.h1footer {
    font-size: 1rem;
    font-family: serif;
    color: pink; 
    text-align: center;
}
footer {
    text-align: center; 
    font-family: serif; 
    font-size: 1rem;
}
